@import "tailwindcss";

:root {
  --clr-black: #000000; /* чистый чёрный */
  --clr-white: #ffffff; /* чистый белый */

  --clr-grey-light: #e5e5e5; /* очень светло-серый */
  --clr-grey: #d9d9d9; /* светло-серый */
  --clr-grey-dark: #380202; /* тёмно-красный/коричневый оттенок */

  --clr-brown: #714424; /* коричневый */
  --clr-red: #e00000; /* насыщенный красный */
  --clr-orange: #ff9a31; /* оранжевый */

  --clr-beige: #8d71465e; /* полупрозрачный бежевый */
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

input {
  border: none;
  outline: none;
}

select {
  cursor: pointer;
  border: none;
  outline: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  transition: background 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-track {
  background: transparent;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.app footer {
  margin-top: auto;
}
